<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Simple Web App</title>
</head>
<body>
    <div class="container">
        <h1>Pattern Recognition</h1>
        <h2>For Multivarient and Univarient</h2>
        <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.csv_file.label }}
            {{ form.csv_file() }}
        </p>
        <p><input type="submit"></p>
    </form>
    </div>
</body>
</html>